<template>
    <div class="order-form">
        <div class="alert alert-danger alert-dismissible" role="alert" v-if="errors && !success">
            <div v-for="category in errors">
                <span v-for="error in category">
                    {{ error }}
                </span>
            </div>
        </div>
        <div class="alert alert-info" v-if="success">Order has been sended</div>
        <div class="alert alert-warning" v-if="errorMessage">Some error occured</div>
        <label for="name">Вывод денег</label>
        <div class="input-group input-group-md mb-3">
            <input type="text" name="charge" class="form-control" id="charge" v-model="charge" placeholder="Сумма">
        </div>

        <button v-on:click="send()" type="submit" class="btn btn-outline-primary">Отправить</button>
    </div>
</template>

<script>
    export default {
        name: "OrderForm",
        data() {
            return {
                charge: null,
                errors: null,
                errorMessage: null,
                success: null,
            }
        },
        methods: {
            send() {
                axios.post('order', {
                    charge: this.charge,
                })
                .then(response => (this.success = response.data.status === 'success'))
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                    this.errorMessage = error.response.data.error_message;
                });
            },
        },
    }
</script>

<style scoped>

</style>